{% extends 'layout.html' %}

{% block title %}
  Login
{% endblock %}

{% block import %}
  <!-- table-->
    <link rel="stylesheet" 
      type="text/css" 
      href='{{ url_for("static", filename="css/login.css") }}'>
      <script src='{{ url_for("static", filename="javascript/checkFormLogin.js") }}'></script>
{% endblock %}

{% block content %}
    <!-- Page Heading -->
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">
          Login <small></small>
        </h1>
      </div>
    </div>
    
    <div class="col-sm-2"></div>
    <div class="col-sm-6">
    <!-- Login-->
	 {% if session['logged_in'] %}
		  <small>You're logged in already!</small>>
	 {% else %}
      <div class="card card-login mx-auto mt-5">
        <div class="card-header">
          Wellcome to IUHCoder
        </div>
        <div class="card-body">
          <form method='POST'>
            <div class="form-group">
              <label for="username">UserName</label>
              <input type="text" class="form-control" name="username" id="username" onblur="checkLogin()" aria-describedby="" placeholder="Enter UserName">
              <i id = "usernamereport" class="text-error"></i>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password" id="password"  onblur="checkLogin()" placeholder="Password">
              <i id = "passwordreport" class="text-error"></i>
            </div>
            <div class="form-group">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input">
                  Remember Password
                </label>
              </div>
            </div>
            {% if error != None %}
            <div class="form-group ">
              <div class="text-error">{{ error }}</div>
            </div>
            {% endif %}
            <input class="btn btn-primary btn-block" type="submit" name = "login" id ="login" value="Login" disabled></input>
          </form>
          <div class="text-center">
            <a class="d-block small mt-3" href="/register">Register an Account</a>
            <a class="d-block small" href="forgot-password.html">Forgot Password?</a>
          </div>
        </div>
      </div>
	 {% endif %}
    </div>
{% endblock %}