<div class="navbar-header">
   <ul class="nav navbar-nav">
      {% include 'admin.html' %}
      <li>
         <a href="/"><i class="fa fa-fw fa-home"></i> HOME</a>
      </li>
      <li>
         <a href="/problems"><i class="fa fa-fw fa-tasks"></i> PROBLEMS</a>
      </li>
      <li>
         <a href="/contests"><i class="fa fa-fw fa-table"></i> CONTESTS</a>
      </li>
      <li>
         <a href="/rating"><i class="fa fa-fw fa-bar-chart-o"></i> RATING</a>
      </li>
      <li>
         <a href="/customtest"><i class="fa fa-fw fa-code"></i> CUSTOMTEST</a>
      </li>
      <li>
         <a href="/about"><i class="fa fa-fw fa-book"></i> ABOUT</a>
      </li>
   </ul>
</div>

