<div class="card mb-3">
   <div class="card-header">
      <i class="fa fa-bookmark-o"></i>
      Contacts
   </div>
   <!--list new feed-->
   <div class="text-center" style="padding: 10px 10px 10px 10px; color: #fff">
   		<a class="btn btn-default" href="https://github.com/quocvietit/IUHCoder"><i class="fa fa-github fa-3x" ></i></a>
   		<a class="btn btn-default" href="https://facebook.com/quocviet.bmt.7"><i class="fa fa-facebook-square fa-3x"></i></a>
   		<a class="btn btn-default" href="https://www.linkedin.com/in/viet-vuong-quoc-110896/"><i class="fa fa-linkedin-square fa-3x"></i></a>
   </div>
</div>