{% extends 'layout.html' %}

{% block title %}
	Customtest
{% endblock %}

{% block blog %}
	Wellcome to IUHCoder
{% endblock %}

{% block content %}
	<div class="container-fluid">
		<!-- Page Heading -->
        <div class="row">
        	<div class="col-lg-12">
                <h1 class="page-header">
                    Customtest <small></small>
                </h1>
            </div>
        </div>
        <div>
        <form method='POST' class = 'editor'>
		<label for='codetext'>
			Code text
			<br>
			{% include 'textAreaCode.html' %}
		</label>
		<div>
			<label for='inputtext'>
			Input:
			<br>
			<textarea name="inputtext"></textarea>
		</label>
		</div>
		<div>
		<input type='submit' name='customtest' value='Run'>
		</div>
		<label for='inputtext'>
			Output:
			<br>
			<textarea name="outputtext"></textarea>
		</label>
		</form>
		</div>
	</div>
{% endblock %}