<!DOCTYPE html>
<html lang='en'>
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">
      <title class="fa-code"> 
         {% block title %}
            {# title website #}
         {% endblock %}
         - IUHCoder
      </title>
      <!-- Bootstrap Core CSS -->
      <link rel="stylesheet" 
         type="text/css" 
         href='{{ url_for("static", filename="css/bootstrap.min.css") }}'>
      <!-- Custom CSS -->
      <link rel="stylesheet" 
         type="text/css" 
         href='{{ url_for("static", filename="css/style.css") }}'>
      <!-- Morris Charts CSS -->
      <link rel="stylesheet" 
         type="text/css" 
         href='{{ url_for("static", filename="css/plugins/morris.css") }}'>
      <!-- Custom Fonts -->
      <link rel="stylesheet" 
         type="text/css" 
         href='{{ url_for("static", filename="font-awesome/css/font-awesome.min.css") }}'>
      <!-- table-->
      <link rel="stylesheet" 
         type="text/css" 
         href='{{ url_for("static", filename="css/table.css") }}'>
      {% block import %}
         {# import #}
      {% endblock %}
   </head>
   <body>
      <!-- Navigation -->
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
         <!-- list category -->
         {% include 'category.html'%}
         <!-- Menu login-->
         {% if not logged_in %}
         <!-- login-->
         <ul class="nav navbar-right top-nav">
            <li>
               <a href="/login"><i class="fa fa-fw fa-sign-in" aria-hidden="true"></i> LOGIN</a>
            </li>
         </ul>
         {% else %}
            {% include 'user.html'%}
         {% endif %}
      </nav>
      <div id="page-wrapper">
         <div class="container-fluid">
            <div class="row">
               <div class="col-lg-9">
                  {% block content %}
                     {# content #}
                  {% endblock %}
               </div>
               <!-- blog -->
               <div class="col-lg-3">
                  {% include 'newfeed.html' %}
                  {% include 'contacts.html' %}
               </div>
            </div>
         </div>
      </div>
      <!-- /#page-wrapper -->
      <!--footer-->
      {% include 'footer.html' %}
   </body>
</html>

