<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" width="100%" id="compilers_table" cellspacing="0">
            <caption>Danh sách bộ thư viện biên dịch và thông dịch:</caption>
            <thead>
                <tr>
                    <th>Language</th>
                    <th>Compiler</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>C</td>
                <td>gcc-4.9.2</td>
            </tr>
             <tr>
                <td>C++</td>
                <td>gcc++ 4.9.2</td>
            </tr>
             <tr>
                <td>C#</td>
                <td>gmcs 3.10</td>
            </tr>
             <tr>
                <td>Java</td>
                <td>javac 8</td>
            </tr>
            <tr>
                <td>Python</td>
                <td>python-2.7.9</td>
            </tr>
            <tr>
                <td>Python3</td>
                <td>python-3.4</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>